.navbar {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #333333;
}

.navbar p {
    color: white;
    font-weight: 600;
}

.navbar a {
    color: white;
    font-weight: 600;
}

.footer {
    display: flex;
    align-items: center;
    left: 0;
    bottom: 0;
    position: absolute;
    gap: 30px;
    width: 100%;
    padding: 30px;
    justify-content: center;
}
