<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Duplicates finder</title>
    <script src="assets/js/jquery.min.js"></script>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/progress.bar.css">
    <link rel="stylesheet" href="assets/css/index.css">
</head>
<body>
    <div class="navbar">
        <p>Image Duplicate Finder</p>
    </div>
    <div class="container">
        <form id="images_folder_modal">
            <h3>Please enter the path to the images folder:</h3>
            <input type="text" id="images_folder" placeholder="Images folder path" name="images_folder" required>
            <button id="images_folder_modal_submit" type="submit">Submit</button>
        </form>
    </div>
    <div class="footer">
        <a href="https://github.com/daxcay" target="_blank">Daxton Caylor</a>
        <a href="https://buymeacoffee.com/daxtoncaylor" target="_blank">Buy Me a Coffee</a>
    </div>
    <script src="assets/js/progress.bar.js"></script>
    <script src="assets/js/index.js"></script>
</body>
</html>