<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="assets/js/jquery.min.js"></script>
    <link rel="stylesheet" href="assets/css/reset.css">
</head>

<body>
    <script>
        $(document).ready(function () {

            function getQueryParam(param) {
                const url = new URL(window.location.href);
                const params = new URLSearchParams(url.search);
                return params.get(param);
            }

            $.post(`/delete_instance?instance_id=${getQueryParam('instance_id')}`, { }, function (data) {
                if (data.status == "success") {
                    window.location.href = "/"
                }
            })

        })
    </script>
</body>

</html>